<h1>{{ message }}</h1>
<h2>{{ 2+2 }}</h2>                                            <!-- Interpolation -->                         
<h3>{{ message+2+2 }}</h3>

<p><input type="text" name="input" [value]='title'></p>       <!-- Property Binding -->
<input [ngModel]='title'>

<p><button (click)="onClick()">CLICK</button></p>             <!-- Event Binding -->
<h3>{{ clickMessage }}</h3>

<p><input type="text" [(ngModel)]="title1"></p>                <!-- Two way Binding -->
<p>{{ title1 }}</p>

































